out/
ClangbuilderUI.lnk
bin/Required/
packages/Package.lock.json
packages/cmake/
packages/GNUWin/
packages/nsis/
packages/Python/
packages/Subversion/
packages/Ninja/
packages/PackagesCache.index
tools/Restore/
*.pdb
*.exe
*.obj
