out/
ClangbuilderUI.lnk
bin/Required/
Packages/Package.lock.json
Packages/cmake/
Packages/GNUWin/
Packages/nsis/
Packages/Python/
Packages/Subversion/
Packages/PackagesCache.index
tools/Restore/
*.obj
