.vscode/
/bin/required_pwsh
/bin/external/
/bin/pkgs/
/bin/utils/
/config/ewdk.json
/config/prebuilt.json
/config/pkinit.json
/config/profile.ps1
/out/
/utils/
/pkgs/
*.pdb
*.exe
*.obj
*.res
ClangbuilderUI.lnk