<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DefaultVS" value="VS120" />
    <add key="Target" value="X64" />
    <add key="TaskInterval" value="10" />
    <add key="BuildType" value="MinSizeRel"/>
  </appSettings>
</configuration>