// Microsoft Visual C++ generated resource script.
//
#include "windows.h"

#define COPYRIGHT L"Copyright \xA9 2018 Force Charlie. All Rights Reserved."


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 1, 0, 0, 1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "080404b0"
BEGIN
VALUE "CompanyName", "Force Charlie"
VALUE "FileDescription", "Basal Symbolic Link Creator"
VALUE "FileVersion", "1.0.0.1"
VALUE "InternalName", "basal-link.exe"
VALUE "LegalCopyright", COPYRIGHT
VALUE "OriginalFilename", "basal-link.exe"
VALUE "ProductName", "Basal Symbolic Link Creator"
VALUE "ProductVersion", "1.0.0.1"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x804, 1200
END
END

