#include "windows.h"
#include "resource.h"

#define LAUNCHER_COPYRIGHT L"Copyright \x00a9 2016 The ForceStudio.All Rights Reserved"

IDI_ICON_LAUNCHER ICON "Launcher.ico"
#ifndef CMAKE_BUILD
1 RT_MANIFEST Launcher.exe.manifest
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,1,0
 PRODUCTVERSION 2,0,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", L"Force Charlie"
            VALUE "FileDescription", L"Clangbuilder Launcher"
            VALUE "FileVersion", L"2.0.1"
            VALUE "InternalName", L"Launcher.exe"
            VALUE "LegalCopyright", LAUNCHER_COPYRIGHT
            VALUE "OriginalFilename", L"Launcher.exe"
            VALUE "ProductName", L"Clangbuilder  Launcher"
            VALUE "ProductVersion", L"2.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END
